
.display{
    display:flex;
}

.container{
    max-width: 900px;
    margin: auto;
    padding:20px;
    background-color: rgba(192, 224, 205, 0.164);
}

header{
    display: flex;
    justify-content: space-between;
}

#list_investimento{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 0 auto;
    background-color: rgba(172, 206, 186, 0.308);
    margin: 20px 10px;
    padding: 20px;
}

button{
    border-style: none;
}
form{
    display: contents;
}

button,input{
    display:inline-block;
    padding: 10px;
    border-radius: 5px;
    margin:0 10px;
    font-size:15px;
    font-weight:bold;
}

.novo{
    background-color: rgba(0, 255, 255, 0.192);
    border-radius: 10px
}

.simular{
    background-color: rgb(123, 202, 123);;
}   

.editar, .detalhe{
    background-color: rgba(102, 165, 116, 0.637);
}

.delete{
    background-color:red;
}